%table.twelve
  %thead
    %tr
      %th
        = t('document.name')
      %th
        = t('document.info')
      %th
        = t('base.actions')
  %tbody
    - @documents.each do |o|
      %tr
        %td
          = o.name
