%nav.top-bar
  %ul
    %li.name
      %h1
        = link_to "Главная", root_url
    %li.toggle-topbar
      %a{:href => "#"}
        
  %section
    %ul.left
      %li
        %a{:href => "#"}
    %ul.right
      %li
        %a{:href => "#"}
    %ul
